doc/taxonomy/1.27/RlzBaseTypes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--  Intellectual Property Reeleezee B.V.  -->
<!--  Version Reeleezee BaseTypes Version 1.27  -->
<!--  Released by Reeleezee B.V. www.reeleezee.nl  -->

<xs:schema
	id="ReeleezeeBaseTypes"
	version="1.27"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://portal.reeleezee.nl/taxonomy/1.27"
	xmlns="https://portal.reeleezee.nl/taxonomy/1.27"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:rse="https://portal.reeleezee.nl/taxonomy/1.27/schemaExtentions"
	xsi:schemaLocation="https://portal.reeleezee.nl/taxonomy/1.27/schemaExtentions SchemaExtentions.xsd" 

	elementFormDefault="qualified">


	<xs:simpleType name="ReeleezeeUsernameType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="3" />
			<xs:maxLength value="100" />
			<xs:pattern value="[a-zA-Z0-9@\-_\.]+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ReeleezeePasswordType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="6" />
			<xs:maxLength value="32" />
			<xs:pattern value="[a-zA-Z0-9@\-_\.]+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ChamberOfCommerceNumberType">
		<xs:restriction base="xs:normalizedString">
			<!--<xs:minLength value="7" />-->
			<xs:maxLength value="10" />
			<!--<xs:pattern value="([1-9]\d\d|\d[1-9]\d|\d\d[1-9])(\d){4,6}" />-->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="FiscalIdentificationNumberType">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="50" />
			<!--<xs:pattern value="(NL)?[0-9]{9}" />-->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DepositVWiaVPBNumberType">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="(NL)?[0-9]{9}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DepositVPBNumberType">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="50" />
			<!--<xs:pattern value="(NL)?[0-9]{9}" />-->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TaxDepositLHNumberType">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="50" />
			<!--<xs:pattern value="(NL)?([1-9]\d\d|\d[1-9]\d|\d\d[1-9])(\d){6}L([1-9]\d|\d[1-9])" />-->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TaxDepositOBNumberType">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="50" />
			<!--<xs:pattern value="(NL)?([1-9]\d\d|\d[1-9]\d|\d\d[1-9])(\d){6}B([1-9]\d|\d[1-9])" />-->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TaxDepositICLNumberType">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="50" />
			<!--<xs:pattern value="(NL)?([1-9]\d\d|\d[1-9]\d|\d\d[1-9])(\d){6}B([1-9]\d|\d[1-9])" />-->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TaxDepositICPNumberType">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="50" />
			<!--<xs:pattern value="(NL)?([1-9]\d\d|\d[1-9]\d|\d\d[1-9])(\d){6}B([1-9]\d|\d[1-9])" />-->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="SocialSecurityNumberType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="3" />
			<xs:maxLength value="50" />
			<xs:pattern value="[a-zA-Z0-9\-.][a-zA-Z0-9\-. ]+[a-zA-Z0-9\-.]" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="EmailAddressType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="3" />
			<xs:maxLength value="200" />
			<xs:pattern value="^[a-zA-Z0-9!#$%&amp;'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$" />

		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PaymentReferenceType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1" />
			<xs:maxLength value="19" />
			<xs:pattern value="([0-9]{1,16}|([0-9]{1,4}[ -]){0,3}[0-9]{1,4})" />
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="PhoneNumberType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1" />
			<xs:maxLength value="50" />
			<xs:pattern value="[(+]?[0-9]([0-9()+\- ,]*[0-9)])?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BankAccountNumberType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1" />
			<xs:maxLength value="25" />
			<xs:pattern value="P0{0,2}[0-9]{1,7}|[0-9]*[1-9][0-9]*" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NonEmptyStringType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:pattern value="[^\t\n\r]*[^\s][^\t\n\r]*" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TrimmedNonEmptyStringType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:pattern value="[^\s]|[^\s][^\t\n\r]*[^\s]" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NonEmptyMultilineStringType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:pattern value="(.|[\n\r])*[^\s](.|[\n\r])*" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AccountNumberType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1" />
			<xs:maxLength value="30" />
			<xs:pattern value="[^\t\n\r]+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BasicBankAccountNumberType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1" />
			<xs:maxLength value="32" />
			<xs:pattern value="[a-zA-Z0-9.]+" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="InternationalBankAccountNumberType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="5" />
			<xs:maxLength value="31" />
			<xs:pattern value="(AD|AE|AF|AG|AI|AL|AM|AO|AQ|AR|AS|AT|AU|AW|AX|AZ|BA|BB|BD|BE|BF|BG|BH|BI|BJ|BL|BM|BN|BO|BQ|BR|BS|BT|BV|BW|BY|BZ|CA|CC|CD|CF|CG|CH|CI|CK|CL|CM|CN|CO|CR|CU|CV|CW|CX|CY|CZ|DE|DJ|DK|DM|DO|DZ|EC|EE|EG|EH|ER|ES|ET|FI|FJ|FK|FM|FO|FR|GA|GB|GD|GE|GF|GG|GH|GI|GL|GM|GN|GP|GQ|GR|GS|GT|GU|GW|GY|HK|HM|HN|HR|HT|HU|ID|IE|IL|IM|IN|IO|IQ|IR|IS|IT|JE|JM|JO|JP|KE|KG|KH|KI|KM|KN|KP|KR|KW|KY|KZ|LA|LB|LC|LI|LK|LR|LS|LT|LU|LV|LY|MA|MC|MD|ME|MF|MG|MH|MK|ML|MM|MN|MO|MP|MQ|MR|MS|MT|MU|MV|MW|MX|MY|MZ|NA|NC|NE|NF|NG|NI|NL|NO|NP|NR|NU|NZ|OM|PA|PE|PF|PG|PH|PK|PL|PM|PN|PR|PS|PT|PW|PY|QA|RE|RO|RS|RU|RW|SA|SB|SC|SD|SE|SG|SH|SI|SJ|SK|SL|SM|SN|SO|SR|SS|ST|SV|SX|SY|SZ|TC|TD|TF|TG|TH|TJ|TK|TL|TM|TN|TO|TR|TT|TV|TW|TZ|UA|UG|UM|US|UY|UZ|VA|VC|VE|VG|VI|VN|VU|WF|WS|YE|YT|ZA|ZM|ZW|ad|ae|af|ag|ai|al|am|ao|aq|ar|as|at|au|aw|ax|az|ba|bb|bd|be|bf|bg|bh|bi|bj|bl|bm|bn|bo|bq|br|bs|bt|bv|bw|by|bz|ca|cc|cd|cf|cg|ch|ci|ck|cl|cm|cn|co|cr|cu|cv|cw|cx|cy|cz|de|dj|dk|dm|do|dz|ec|ee|eg|eh|er|es|et|fi|fj|fk|fm|fo|fr|ga|gb|gd|ge|gf|gg|gh|gi|gl|gm|gn|gp|gq|gr|gs|gt|gu|gw|gy|hk|hm|hn|hr|ht|hu|id|ie|il|im|in|io|iq|ir|is|it|je|jm|jo|jp|ke|kg|kh|ki|km|kn|kp|kr|kw|ky|kz|la|lb|lc|li|lk|lr|ls|lt|lu|lv|ly|ma|mc|md|me|mf|mg|mh|mk|ml|mm|mn|mo|mp|mq|mr|ms|mt|mu|mv|mw|mx|my|mz|na|nc|ne|nf|ng|ni|nl|no|np|nr|nu|nz|om|pa|pe|pf|pg|ph|pk|pl|pm|pn|pr|ps|pt|pw|py|qa|re|ro|rs|ru|rw|sa|sb|sc|sd|se|sg|sh|si|sj|sk|sl|sm|sn|so|sr|ss|st|sv|sx|sy|sz|tc|td|tf|tg|th|tj|tk|tl|tm|tn|to|tr|tt|tv|tw|tz|ua|ug|um|us|uy|uz|va|vc|ve|vg|vi|vn|vu|wf|ws|ye|yt|za|zm|zw)[0-9]{2}[0-9a-zA-Z]+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BusinessIdentifierCodeType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="8" />
			<xs:maxLength value="11" />
			<xs:pattern value="[a-zA-Z]{4}(AD|AE|AF|AG|AI|AL|AM|AO|AQ|AR|AS|AT|AU|AW|AX|AZ|BA|BB|BD|BE|BF|BG|BH|BI|BJ|BL|BM|BN|BO|BQ|BR|BS|BT|BV|BW|BY|BZ|CA|CC|CD|CF|CG|CH|CI|CK|CL|CM|CN|CO|CR|CU|CV|CW|CX|CY|CZ|DE|DJ|DK|DM|DO|DZ|EC|EE|EG|EH|ER|ES|ET|FI|FJ|FK|FM|FO|FR|GA|GB|GD|GE|GF|GG|GH|GI|GL|GM|GN|GP|GQ|GR|GS|GT|GU|GW|GY|HK|HM|HN|HR|HT|HU|ID|IE|IL|IM|IN|IO|IQ|IR|IS|IT|JE|JM|JO|JP|KE|KG|KH|KI|KM|KN|KP|KR|KW|KY|KZ|LA|LB|LC|LI|LK|LR|LS|LT|LU|LV|LY|MA|MC|MD|ME|MF|MG|MH|MK|ML|MM|MN|MO|MP|MQ|MR|MS|MT|MU|MV|MW|MX|MY|MZ|NA|NC|NE|NF|NG|NI|NL|NO|NP|NR|NU|NZ|OM|PA|PE|PF|PG|PH|PK|PL|PM|PN|PR|PS|PT|PW|PY|QA|RE|RO|RS|RU|RW|SA|SB|SC|SD|SE|SG|SH|SI|SJ|SK|SL|SM|SN|SO|SR|SS|ST|SV|SX|SY|SZ|TC|TD|TF|TG|TH|TJ|TK|TL|TM|TN|TO|TR|TT|TV|TW|TZ|UA|UG|UM|US|UY|UZ|VA|VC|VE|VG|VI|VN|VU|WF|WS|YE|YT|ZA|ZM|ZW|ad|ae|af|ag|ai|al|am|ao|aq|ar|as|at|au|aw|ax|az|ba|bb|bd|be|bf|bg|bh|bi|bj|bl|bm|bn|bo|bq|br|bs|bt|bv|bw|by|bz|ca|cc|cd|cf|cg|ch|ci|ck|cl|cm|cn|co|cr|cu|cv|cw|cx|cy|cz|de|dj|dk|dm|do|dz|ec|ee|eg|eh|er|es|et|fi|fj|fk|fm|fo|fr|ga|gb|gd|ge|gf|gg|gh|gi|gl|gm|gn|gp|gq|gr|gs|gt|gu|gw|gy|hk|hm|hn|hr|ht|hu|id|ie|il|im|in|io|iq|ir|is|it|je|jm|jo|jp|ke|kg|kh|ki|km|kn|kp|kr|kw|ky|kz|la|lb|lc|li|lk|lr|ls|lt|lu|lv|ly|ma|mc|md|me|mf|mg|mh|mk|ml|mm|mn|mo|mp|mq|mr|ms|mt|mu|mv|mw|mx|my|mz|na|nc|ne|nf|ng|ni|nl|no|np|nr|nu|nz|om|pa|pe|pf|pg|ph|pk|pl|pm|pn|pr|ps|pt|pw|py|qa|re|ro|rs|ru|rw|sa|sb|sc|sd|se|sg|sh|si|sj|sk|sl|sm|sn|so|sr|ss|st|sv|sx|sy|sz|tc|td|tf|tg|th|tj|tk|tl|tm|tn|to|tr|tt|tv|tw|tz|ua|ug|um|us|uy|uz|va|vc|ve|vg|vi|vn|vu|wf|ws|ye|yt|za|zm|zw)[0-9a-zA-Z]{2}([0-9a-zA-Z]{3})?" />
		</xs:restriction>
	</xs:simpleType>

	

	<xs:simpleType name="DocumentReferenceType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="11" />
			<xs:maxLength value="11" />
			<xs:pattern value="[0-9]{2}-[0-9]{8}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ProductCodeType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1" />
			<xs:maxLength value="32" />
			<xs:pattern value="[^\s]|[^\s].*[^\s]" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BranchCodeType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1" />
			<xs:maxLength value="32" />
			<xs:pattern value="[^\s]+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="EmployeeCodeType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1" />
			<xs:maxLength value="3" />
			<xs:pattern value="[^\s]+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CustomerCodeType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1" />
			<xs:maxLength value="50" />
			<xs:pattern value="[^\s]+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PersonCodeType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1" />
			<xs:maxLength value="50" />
			<xs:pattern value="[^\s]+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="VendorCodeType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1" />
			<xs:maxLength value="50" />
			<xs:pattern value="[^\s]+" />
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="DepartmentCodeType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1" />
			<xs:maxLength value="5" />
			<xs:pattern value="[^\s]+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ReeleezeeIdType">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[1-9][0-9]{0,9}\.[1-9][0-9]{0,9}\.[0-9a-fA-F]{1,16}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PriceType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PositivePriceType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2" />
			<xs:minExclusive value="0" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PricePreciseType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="4" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="JournalEntryDiaryCodeType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
			<xs:pattern value="[0-9a-zA-Z]+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="FullFilePathType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1" />
			<xs:maxLength value="1000" />
			<xs:pattern value="^(([a-zA-Z]\:\\?)|\\{1,2}|)([^ .\\/:*?&quot;&lt;&gt;|]|[^ \\/:*?&quot;&lt;&gt;|][^\\/:*?&quot;&lt;&gt;|]*[^ .\\/:*?&quot;&lt;&gt;|])([\\/]([^ .\\/:*?&quot;&lt;&gt;|]|[^ \\/:*?&quot;&lt;&gt;|][^\\/:*?&quot;&lt;&gt;|]{0,254}[^ .\\/:*?&quot;&lt;&gt;|]))*$" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="FileNameType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1" />
			<xs:maxLength value="1000" />
			<xs:pattern value="^([^ .\\/:*?&quot;&lt;&gt;|]|[^ \\/:*?&quot;&lt;&gt;|][^\\/:*?&quot;&lt;&gt;|]{0,254}[^ .\\/:*?&quot;&lt;&gt;|])$" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PathType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1" />
			<xs:maxLength value="2000" />
			<xs:pattern value="^[\\/]|([\\/]([^ .\\/:*?&quot;&lt;&gt;|]|[^ \\/:*?&quot;&lt;&gt;|][^\\/:*?&quot;&lt;&gt;|]{0,254}[^ .\\/:*?&quot;&lt;&gt;|]))+$" />
		</xs:restriction>
	</xs:simpleType>

	<xs:group name="EmployeeReferenceGroup">
		<xs:sequence>
			<xs:element name="EmployeeReference">
				<xs:annotation>
					<xs:documentation>Medewerker referentie</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="EmployeeReferenceType" />
					</xs:complexContent>
				</xs:complexType>

				<xs:key name="KeyEmployeeID">
					<xs:selector xpath="." />
					<xs:field xpath="@ID|@Code|@InternalRlzID" />
				</xs:key>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:group name="NillableEmployeeReferenceGroup">
		<xs:sequence>
			<xs:element name="EmployeeReference" nillable="true">
				<xs:annotation>
					<xs:documentation>Medewerker referentie</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="EmployeeReferenceType" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="EmployeeReferenceType">
		<xs:attribute name="ID" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation>Medewerkernummer</xs:documentation>
			</xs:annotation>
		</xs:attribute>

		<xs:attribute name="Code" type="EmployeeCodeType" use="optional">
			<xs:annotation>
				<xs:documentation>Medewerkercode</xs:documentation>
			</xs:annotation>
		</xs:attribute>

		<xs:attribute name="InternalRlzID" type="ReeleezeeIdType" use="optional">
			<xs:annotation>
				<xs:documentation>DO NOT USE !</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:group name="NillableDepartmentReferenceGroup">
		<xs:sequence>
			<xs:element name="DepartmentReference" nillable="true">
				<xs:annotation>
					<xs:documentation>Afdeling referentie</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="DepartmentReferenceType" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="DepartmentReferenceType">
		<xs:attribute name="Name" use="optional">
			<xs:annotation>
				<xs:documentation>Afdelingsnaam</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="TrimmedNonEmptyStringType">
					<xs:maxLength value="50" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>

		<xs:attribute name="Code" type="DepartmentCodeType" use="optional">
			<xs:annotation>
				<xs:documentation>Afdelingscode</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:group name="NillableProjectReferenceGroup">
		<xs:sequence>
			<xs:element name="ProjectReference" nillable="true">
				<xs:annotation>
					<xs:documentation>Project referentie</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ProjectReferenceType" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="ProjectReferenceType">
		<xs:attribute name="Name" use="optional">
			<xs:annotation>
				<xs:documentation>Projectnaam</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="TrimmedNonEmptyStringType">
					<xs:maxLength value="50" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:group name="VendorReferenceGroup">
		<xs:sequence>
			<xs:element name="VendorReference">
				<xs:annotation>
					<xs:documentation>Crediteur</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="VendorReferenceType" />
					</xs:complexContent>
				</xs:complexType>
				<xs:key name="KeyVendorID">
					<xs:selector xpath="." />
					<xs:field xpath="@ID|@Code|@InternalRlzID" />
				</xs:key>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:group name="NillableVendorReferenceGroup">
		<xs:sequence>
			<xs:element name="VendorReference" nillable="true">
				<xs:annotation>
					<xs:documentation>Crediteur</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="VendorReferenceType" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="VendorReferenceType">
		<xs:attribute name="ID" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation>Crediteurnummer</xs:documentation>
			</xs:annotation>
		</xs:attribute>

		<xs:attribute name="Code" type="CustomerCodeType" use="optional">
			<xs:annotation>
				<xs:documentation>Crediteurcode</xs:documentation>
			</xs:annotation>
		</xs:attribute>

		<xs:attribute name="InternalRlzID" type="ReeleezeeIdType" use="optional">
			<xs:annotation>
				<xs:documentation>DO NOT USE !</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>


	<xs:group name="CustomerReferenceGroup">
		<xs:sequence>
			<xs:element name="CustomerReference">
				<xs:annotation>
					<xs:documentation>Debiteur</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CustomerReferenceType" />
					</xs:complexContent>
				</xs:complexType>
				<xs:key name="KeyCustomerID">
					<xs:selector xpath="." />
					<xs:field xpath="@ID|@Code|@InternalRlzID" />
				</xs:key>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:group name="NillableCustomerReferenceGroup">
		<xs:sequence>
			<xs:element name="CustomerReference" nillable="true">
				<xs:annotation>
					<xs:documentation>Debiteur</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CustomerReferenceType" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="CustomerReferenceType">
		<xs:attribute name="ID" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation>Debiteurnummer</xs:documentation>
			</xs:annotation>
		</xs:attribute>

		<xs:attribute name="Code" type="CustomerCodeType" use="optional">
			<xs:annotation>
				<xs:documentation>Debiteurcode</xs:documentation>
			</xs:annotation>
		</xs:attribute>

		<xs:attribute name="InternalRlzID" type="ReeleezeeIdType" use="optional">
			<xs:annotation>
				<xs:documentation>DO NOT USE !</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:group name="NillableContactPersonReferenceGroup">
		<xs:sequence>
			<xs:element name="ContactPersonReference" nillable="true">
				<xs:annotation>
					<xs:documentation>Contactpersoon</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ContactPersonReferenceType" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:group name="ContactPersonReferenceGroup">
		<xs:sequence>
			<xs:element name="ContactPersonReference">
				<xs:annotation>
					<xs:documentation>Contactpersoon</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ContactPersonReferenceType" />
					</xs:complexContent>
				</xs:complexType>
				<xs:unique name="UniqueContactPerson1">
					<xs:selector xpath="." />
					<xs:field xpath="@ID" />
				</xs:unique>
				<xs:unique name="UniqueContactPerson2">
					<xs:selector xpath="." />
					<xs:field xpath="@Code" />
				</xs:unique>
				<xs:unique name="UniqueContactPerson3">
					<xs:selector xpath="." />
					<xs:field xpath="@SocialSecurityNumber" />
				</xs:unique>
				<xs:unique name="UniqueContactPerson4">
					<xs:selector xpath="." />
					<xs:field xpath="@InternalRlzID" />
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="ContactPersonReferenceType">
		<xs:attribute name="ID" type="xs:positiveInteger" use="optional" >
			<xs:annotation>
				<xs:documentation>Person id</xs:documentation>
			</xs:annotation>
		</xs:attribute>

		<xs:attribute name="SocialSecurityNumber" type="SocialSecurityNumberType" use="optional">
			<xs:annotation>
				<xs:documentation>Social security number</xs:documentation>
			</xs:annotation>
		</xs:attribute>

		<xs:attribute name="Code" type="PersonCodeType" use="optional">
			<xs:annotation>
				<xs:documentation>Person code</xs:documentation>
			</xs:annotation>
		</xs:attribute>

		<xs:attribute name="InternalRlzID" type="ReeleezeeIdType" use="optional">
			<xs:annotation>
				<xs:documentation>Internal Reeleezee id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:group name="AdministrationReferenceGroup">
		<xs:sequence>
			<xs:element name="AdministrationReference">
				<xs:annotation>
					<xs:documentation>Administratie</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:group name="NillableCategoryReferenceGroup">
		<xs:sequence>
			<xs:element name="CategoryReference" nillable="true">
				<xs:annotation>
					<xs:documentation>Categorie</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:attribute name="Name" type="TrimmedNonEmptyStringType" use="optional">
						<xs:annotation>
							<xs:documentation>Categorienaam</xs:documentation>
						</xs:annotation>
					</xs:attribute>

					<xs:attribute name="InternalRlzID" type="ReeleezeeIdType" use="optional">
						<xs:annotation>
							<xs:documentation>DO NOT USE !</xs:documentation>
						</xs:annotation>
					</xs:attribute>

				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:group name="CategoryReferenceGroup">
		<xs:sequence>
			<xs:element name="CategoryReference">
				<xs:annotation>
					<xs:documentation>Categorie</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CategoryReferenceType" />
					</xs:complexContent>
				</xs:complexType>
				<xs:key name="KeyCategoryID">
					<xs:selector xpath="." />
					<xs:field xpath="@Name|@InternalRlzID" />
				</xs:key>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="CategoryReferenceType">
		<xs:attribute name="Name" type="TrimmedNonEmptyStringType" use="optional">
			<xs:annotation>
				<xs:documentation>Categorienaam</xs:documentation>
			</xs:annotation>
		</xs:attribute>

		<xs:attribute name="InternalRlzID" type="ReeleezeeIdType" use="optional">
			<xs:annotation>
				<xs:documentation>DO NOT USE !</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>


	<xs:group name="ProductReferenceGroup">
		<xs:sequence>
			<xs:element name="ProductReference">
				<xs:annotation>
					<xs:documentation>Product referentie</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ProductReferenceType" />
					</xs:complexContent>
				</xs:complexType>
				<xs:key name="KeyProductID">
					<xs:selector xpath="." />
					<xs:field xpath="@Code|@InternalRlzID" />
				</xs:key>
			</xs:element>
		</xs:sequence>
	</xs:group>


	<xs:group name="NillableProductReferenceGroup">
		<xs:sequence>
			<xs:element name="ProductReference" nillable="true">
				<xs:annotation>
					<xs:documentation>Product referentie</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ProductReferenceType" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="ProductReferenceType">
		<xs:attribute name="Code" type="ProductCodeType" use="optional">
			<xs:annotation>
				<xs:documentation>Code</xs:documentation>
			</xs:annotation>
		</xs:attribute>

		<xs:attribute name="InternalRlzID" type="ReeleezeeIdType" use="optional">
			<xs:annotation>
				<xs:documentation>DO NOT USE !</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:group name="PaymentAccountReferenceGroup">
		<xs:sequence>
			<xs:element name="PaymentAccountReference">
				<xs:annotation>
					<xs:documentation>Bankrekening referentie</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="BankAccountReferenceType" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:group name="NillablePaymentAccountReferenceGroup">
		<xs:sequence>
			<xs:element name="PaymentAccountReference" nillable="true">
				<xs:annotation>
					<xs:documentation>Bankrekening referentie</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="BankAccountReferenceType" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="BankAccountReferenceType">
		<xs:attribute name="BBAN" type="BasicBankAccountNumberType" use="optional" rse:CanAutoTrim="true">
			<xs:annotation>
				<xs:documentation>Basic Bank Account Number</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IBAN" type="InternationalBankAccountNumberType" use="optional" rse:CanAutoTrim="true">
			<xs:annotation>
				<xs:documentation>International Bank Account Number</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:group name="PaymentMethodReferenceGroup">
		<xs:sequence>
			<xs:element name="PaymentMethodReference">
				<xs:annotation>
					<xs:documentation>Betaalwijze referentie</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:attribute name="Type" use="required">
						<xs:annotation>
							<xs:documentation>Type</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:token">
								<xs:enumeration value="BankTransfer">
									<xs:annotation>
										<xs:documentation>Overschrijving</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="CreditCard">
									<xs:annotation>
										<xs:documentation>Credit Card</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Acceptgiro">
									<xs:annotation>
										<xs:documentation>Acceptgiro</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="ByPhone">
									<xs:annotation>
										<xs:documentation>Telefonisch</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="DebitCard">
									<xs:annotation>
										<xs:documentation>PIN</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Cash">
									<xs:annotation>
										<xs:documentation>Kontant</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="OneTimeDirectDebit">
									<xs:annotation>
										<xs:documentation>Eenmalig incasso</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="RecurringDirectDebit">
									<xs:annotation>
										<xs:documentation>Automatische incasso</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="ByPrivateAccount">
									<xs:annotation>
										<xs:documentation>via Rekening Courant</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Other">
									<xs:annotation>
										<xs:documentation>Overig betaald</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Cheque">
									<xs:annotation>
										<xs:documentation>Cheque</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:group name="AccountReferenceGroup">
		<xs:sequence>
			<xs:element name="AccountReference">
				<xs:annotation>
					<xs:documentation>Grootboekrekening referentie</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="AccountReferenceType" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:group name="NillableAccountReferenceGroup">
		<xs:sequence>
			<xs:element name="AccountReference" nillable="true">
				<xs:annotation>
					<xs:documentation>Grootboekrekening referentie</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="AccountReferenceType" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="AccountReferenceType">
		<xs:attribute name="Number" type="AccountNumberType" use="optional">
			<xs:annotation>
				<xs:documentation>Nummer</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:group name="NillableOutputTypeReferenceGroup">
		<xs:sequence>
			<xs:element name="OutputTypeReference" nillable="true">
				<xs:annotation>
					<xs:documentation>Printbestemming referentie</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="OutputTypeReferenceType" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="OutputTypeReferenceType">
		<xs:attribute name="Name" use="optional">
			<xs:annotation>
				<xs:documentation>Printbestemming</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="TrimmedNonEmptyStringType">
					<xs:maxLength value="50" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:group name="NillableCashRegisterTypeReferenceGroup">
		<xs:sequence>
			<xs:element name="CashRegisterTypeReference" nillable="true">
				<xs:annotation>
					<xs:documentation>Sortering referentie</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CashRegisterTypeReferenceType" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="CashRegisterTypeReferenceType">
		<xs:attribute name="Description" use="optional">
			<xs:annotation>
				<xs:documentation>Omschrijving</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="TrimmedNonEmptyStringType">
					<xs:maxLength value="40" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:group name="NillableBranchReferenceGroup">
		<xs:sequence>
			<xs:element name="BranchReference" nillable="true">
				<xs:annotation>
					<xs:documentation>Vestiging referentie</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="BranchReferenceType" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="BranchReferenceType">
		<xs:attribute name="Name" use="optional">
			<xs:annotation>
				<xs:documentation>Naam</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="TrimmedNonEmptyStringType">
					<xs:maxLength value="50" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>

		<xs:attribute name="Code" type="BranchCodeType" use="optional">
			<xs:annotation>
				<xs:documentation>Code</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

</xs:schema>